#signIn {
  flex: 1;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  position: relative;
  .return {
    // background-color: pink;
    color: #c2bfc1;
    font-size: 25px;
    padding: 5px;
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
    z-index: 999;
    -webkit-app-region: no-drag;
  }
  .qrcode {
    // background-color: pink;
    height: 319px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 230px;
      height: 230px;
    }
    .err {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      .errText {
        font-size: 16px;
        font-weight: 600;
      }
      .btn {
        background-color: #e1206d;
        margin-top: 15px;
        border-radius: 50px;
        color: #fff;
        width: 180px;
        height: 40px;
        align-items: center;
        text-align: center;
        line-height: 40px;
        -webkit-app-region: no-drag;
        cursor: pointer;
      }
    }
  }
  .logo {
    // background-color: pink;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    // -webkit-app-region: no-drag;
    img {
      width: 130px;
    }
  }
  .iconBox {
    -webkit-app-region: no-drag;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 20px;
    .icon {
      font-size: 50px;
    }
  }
  .text {
    text-align: center;
    color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    z-index: 999;
    // background-color: pink;
    padding: 20px 40px;
    line-height: 34px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .inpF {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-app-region: no-drag;
    .inp {
      width: 70%;
      height: 50px;
      background-color: #f5f5f5;
      border-width: 0;
      outline: none;
      border-radius: 40px;
      text-align: center;
      margin-left: 0px;
      margin-right: 6px;
      margin-bottom: 18px;
      font-size: 18px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #827e92;
      font-size: 17px;
    }
  }
  .stay {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    .remember {
      display: flex;
      align-items: center;
      p {
        color: #4a4a4a;
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
      .box {
        width: 20px;
        height: 20px;
        border: 1px solid #ababab;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        cursor: pointer;
        -webkit-app-region: no-drag;
      }
    }
    .forgot {
      color: #e1206d;
      font-size: 16px;
      -webkit-app-region: no-drag;
      // opacity: 0.5;
      cursor: pointer;
    }
  }
  .button {
    -webkit-app-region: no-drag;
    // background-color: pink;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    Button {
      width: 270px;
      background-color: #e1206d;
      color: #fff;
      border-width: 0;
      font-size: 18px;
      height: 50px;
    }
  }
  .text2 {
    margin-top: 12px;
    p {
      text-align: center;
      font-size: 17px;
      a {
        -webkit-app-region: no-drag;
        color: #dc6896;
      }
    }
  }
  .other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .line {
      height: 1px;
      width: 100px;
      border: solid 1px #d8d8d8;
    }
    span {
      font-size: 14px;
      margin: 0 20px;
    }
  }
  .foot {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;

    img {
      width: 100px;
    }
  }
}
.button:active {
  opacity: 0.5;
}
Button:active {
  opacity: 0.5;
}
